# EditorConfig configuration for flakehub-cache-types

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Rust
[*.rs]
indent_style = space
indent_size = 4

# Misc
[*.{yaml,yml,md,nix,toml}]
indent_style = space
indent_size = 2
